.bodyClass{
    width: 82%;
    position: relative;
    height: 100vh;
    margin-top: 10px;
    overflow: auto;
    .bottom{
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 640px) {
    .headerSection {
        flex-direction: column;
    }

    .bodyClass{
        width: 100%;
        .bottom{
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

}